@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    list-style-type: none;
    text-decoration: none;
}

.continer {
    width: 1170px;
    margin: 0 auto;
    padding: 0;

}

.block {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.block_title h1 {
    margin-top: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #263238;
}

.btn {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
    border-radius: 81px;
    border: none;
}

.car {
    display: flex;
    grid-gap: 30px;
    padding-top: 60px;

}

.image {
    text-align: center;
    padding-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
    border-radius: 25px;
    width: 370px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}


.image h1 {
    font-size: 18px;
    text-align: center;
    color: #263238;
}

.image p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 16px;
    color: #263238;
    padding-top: 15px;
    padding-bottom: 60px;

}

.name {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 250px;
}

.name h1 {

    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;

    text-align: center;

    color: #263238;

}

.car_1 {
    display: flex;
    grid-gap: 30px;
    padding-top: 60px;

}

.image_1 {
    width: 270px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
    border-radius: 25px;
    grid-gap: 30px;
    text-align: center;
}



.image_1 h1 {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 18px;
    padding-top: 30px;
    color: #263238;
}

.image_1 p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 16px;
    color: #263238;
    padding-top: 15px;
    padding-bottom: 60px;
}

.card {

    display: flex;
    grid-gap: 30px;
}

.card_1 {
    margin-top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
    border-radius: 25px;
    width: 570px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image_2 img {
    padding-left: 50px;
    padding-bottom: 60px;
}

.nike h1 {
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #263238;
    padding-top: 60px;
}

.nike p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-top: 15px;
    color: #263238;
}

.nik {
    padding-top: 60px;
    padding-left: 60px;
}

.nik h1 {
    font-size: 18px;
    color: #263238;
}

.nik p {
    font-size: 16px;
    padding-top: 15px;
    color: #263238;
    padding-bottom: 60px;
    padding-right: 25px;
}

.image_2 img {
    padding-top: 60px;
    padding-right: 60px;
}

.like {
    padding-top: 80px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.vector {
    display: flex;
    width: 570px;
    margin: 0 auto;

}

.image_3 img {
    padding-top: 20px;
    padding-bottom: 50px;
}

.name_1 h1 {
    padding-top: 95px;
    font-size: 18px;
    color: #263238;
    padding-left: 30px;
}

.name_1 p {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 16px;
    color: #263238;
    font-weight: 300;
}

.tablet {


    display: flex;
    column-gap: 30PX;
    margin-bottom: 370px;
}

.image_4 {
    width: 470px;
    margin: 0 auto;
}

.name_2 {
    width: 470px;
    text-align: center;
}

.name_2 h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    padding-top: 97px;
}

.name_2 p {
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
}

.name_2 button {
    width: 269px;
    margin: 0 auto;
    text-align: center;
    background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
    box-shadow: 0px 10px 10px rgba(0, 48, 92, 0.1);
    border-radius: 81px;
    padding: 30px 60px 30px 60px;
    margin-top: 60px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
}







@media (max-width: 728px) {
    .continer {
        width: 100%;
        margin: 0 auto;
        font-family: 'Rubik';
        padding: 20px;

    }

    .block {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .block_title h1 {
        margin-top: 200px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-align: center;

        color: #263238;
    }

    .btn {
        color: #fff;
        font-size: 18px;
        margin-top: 30px;
        padding-top: 15px;
        padding-left: 30px;
        padding-bottom: 15px;
        padding-right: 30px;
        background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
        border-radius: 81px;
        border: none;
    }

    .car {
        display: flex;
        grid-gap: 20px;
        padding-top: 40px;

    }

    .image {
        text-align: center;
        padding-top: 30px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;
        width: 370px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .image img {
        width: 100%;
    }

    .image h1 {
        font-size: 18px;
        text-align: center;
        color: #263238;
    }

    .image p {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 16px;
        color: #263238;
        padding-top: 15px;
        padding-bottom: 60px;

    }

    .name {

        text-align: center;
        padding-top: 250px;
    }

    .name h1 {

        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 43px;
        /* identical to box height */

        text-align: center;

        color: #263238;

    }

    .car_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-gap: 30px;
        padding-top: 60px;

    }

    .image_1 {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;
        grid-gap: 30px;
    }

    .image_1 img {
        padding-left: 70px;
        padding-top: 40px;
        padding-right: 70px;
    }

    .image_1 h1 {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 18px;
        padding-top: 30px;
        color: #263238;
    }

    .image_1 p {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 16px;
        color: #263238;
        padding-top: 15px;
        padding-bottom: 60px;
    }

    .card {

        display: grid;

        grid-gap: 30px;
    }

    .card_1 {
        margin-top: 60px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;
        width: 100%;
        display: flex;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .image_2 img {
        padding-left: 50px;
        padding-bottom: 60px;
    }

    .nike h1 {
        font-style: normal;
        font-size: 18px;
        line-height: 21px;
        color: #263238;
        padding-top: 60px;
    }

    .nike p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        padding-top: 15px;
        color: #263238;
    }

    .nik {
        padding-top: 60px;
        padding-left: 60px;
    }

    .nik h1 {
        font-size: 18px;
        color: #263238;
    }

    .nik p {
        font-size: 16px;
        padding-top: 15px;
        color: #263238;
        padding-bottom: 60px;
        padding-right: 25px;
    }

    .image_2 img {
        padding-top: 60px;
        padding-right: 60px;
    }

    .like {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        padding-top: 80px;

    }

    .vector {
        width: 100%;
        margin: 0 auto;

    }

    .image_3 img {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .name_1 h1 {
        padding-top: 95px;
        font-size: 18px;
        color: #263238;
        padding-left: 30px;
    }

    .name_1 p {
        padding-top: 15px;
        padding-left: 30px;
        font-size: 16px;
        color: #263238;
        font-weight: 300;
    }

    .tablet {
        width: 688px;
        padding-top: 100px;
        display: flex;
        grid-gap: 10px;
        margin-bottom: 150px;
    }

    .image_4 {
        width: 100%;
        margin: 0 auto;
    }

    .image_4 img {
        width: 388px;
        margin: 0 auto;
    }

    .name_2 {
        width: 100%;
        text-align: center;
    }

    .name_2 h1 {
        text-align: center;
        font-size: 30px;

        padding-top: 90px;
    }

    .name_2 p {
        padding-top: 15px;
        text-align: center;
        font-size: 15px;
    }

    .name_2 button {
        width: 269px;
        margin: 0 auto;
        text-align: center;
        background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
        box-shadow: 0px 10px 10px rgba(0, 48, 92, 0.1);
        border-radius: 81px;
        padding: 30px 60px 30px 60px;
        margin-top: 20px;
        border: none;
        font-size: 18px;
        color: #FFFFFF;
    }
}










@media (max-width: 440px) {
    .continer {
        width: 100%;
        margin: 0 auto;
        font-family: 'Rubik';
        padding: 20px;

    }

    .block {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .block_title h1 {
        margin-top: 200px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-align: center;

        color: #263238;
    }

    .btn {
        color: #fff;
        font-size: 18px;
        margin-top: 30px;
        padding-top: 15px;
        padding-left: 30px;
        padding-bottom: 15px;
        padding-right: 30px;
        background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
        border-radius: 81px;
        border: none;
    }

    .car {
        width: 100%;
        display: grid;
        grid-gap: 20px;
        padding-top: 40px;

    }

    .image {
        text-align: center;
        padding-top: 30px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .image img {
        width: 230px;
        padding-top: 30px;
    }

    .image h1 {
        font-size: 18px;
        text-align: center;
        color: #263238;
    }

    .image p {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 16px;
        color: #263238;
        padding-top: 15px;
        padding-bottom: 60px;

    }

    .name {
        width: 100%;
        text-align: center;
        padding-top: 250px;
    }

    .name h1 {

        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #263238;

    }

    .car_1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-gap: 20px;
        padding-top: 40px;

    }

    .image_1 {
        width: 190px;
        margin: 0 auto;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;

    }

    .image_1 img {
        width: 130px;
        height: 130px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .image_1 h1 {
        text-align: center;
        font-size: 18px;
        padding-top: 30px;
        color: #263238;
    }

    .image_1 p {
        text-align: center;
        font-size: 16px;
        color: #263238;
        padding-top: 15px;
        padding-bottom: 60px;
    }

    .card {

        display: grid;

        grid-gap: 30px;
    }

    .card_1 {
        margin-top: 60px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .image_2 img {
        padding-left: 50px;
        padding-bottom: 60px;
    }

    .nike {
        width: 370px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .nike h1 {
        font-style: normal;
        font-size: 18px;
        line-height: 21px;
        color: #263238;
        padding-top: 60px;
    }

    .nike p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        padding-top: 15px;
        color: #263238;
        padding-bottom: ;
    }

    .nik {
        padding-top: 60px;
        padding-left: 60px;
    }

    .nik h1 {
        font-size: 18px;
        color: #263238;
    }

    .nik p {
        font-size: 16px;
        padding-top: 15px;
        color: #263238;
        padding-bottom: 60px;
        padding-right: 25px;
    }

    .image_2 img {
        padding-top: 60px;
        padding-right: 60px;
    }

    .like {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        padding-top: 80px;

    }

    .vector {
        width: 100%;
        margin: 0 auto;
        display: grid;
        text-align: center;

    }

    .image_3 img {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .name_1 {
        width: 370px;
        margin: 0 auto;
        text-align: center
    }

    .name_1 h1 {
        padding: 0px;
        padding-top: 95px;
        font-size: 18px;
        color: #263238;
    }

    .name_1 p {
        padding-top: 15px;
        padding: 0px;
        font-size: 16px;
        color: #263238;
        font-weight: 300;
    }

    .tablet {
        width: 100%;
        padding-top: 100px;
        display: grid;
        grid-gap: 10px;
        margin-bottom: 150px;
    }

    .image_4 {
        width: 100%;
        margin: 0 auto;
    }

    .image_4 img {
        width: 100%;

    }

    .name_2 {
        width: 100%;
        text-align: center;
    }

    .name_2 h1 {
        text-align: center;
        font-size: 30px;

        padding-top: 90px;
    }

    .name_2 p {
        padding-top: 15px;
        text-align: center;
        font-size: 15px;
    }

    .name_2 button {
        width: 269px;
        margin: 0 auto;
        text-align: center;
        background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
        box-shadow: 0px 10px 10px rgba(0, 48, 92, 0.1);
        border-radius: 81px;
        padding: 30px 60px 30px 60px;
        margin-top: 20px;
        border: none;
        font-size: 18px;
        color: #FFFFFF;
    }
}









@media (max-width: 320px) {
    .continer {
        width: 100%;
        margin: 0 auto;
        font-family: 'Rubik';
        padding: 20px;

    }

    .block {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .block_title h1 {
        margin-top: 200px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-align: center;

        color: #263238;
    }

    .btn {
        color: #fff;
        font-size: 18px;
        margin-top: 30px;
        padding-top: 15px;
        padding-left: 30px;
        padding-bottom: 15px;
        padding-right: 30px;
        background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
        border-radius: 81px;
        border: none;
    }

    .car {
        width: 100%;
        display: grid;
        grid-gap: 20px;
        padding-top: 40px;

    }

    .image {
        text-align: center;
        padding-top: 30px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .image img {
        width: 230px;
        padding-top: 30px;
    }

    .image h1 {
        font-size: 18px;
        text-align: center;
        color: #263238;
    }

    .image p {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 16px;
        color: #263238;
        padding-top: 15px;
        padding-bottom: 60px;

    }

    .name {
        width: 100%;
        text-align: center;
        padding-top: 250px;
    }

    .name h1 {

        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #263238;

    }

    .car_1 {
        width: 280px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 20px;
        padding-top: 40px;

    }

    .image_1 {
        width: 280px;
        margin: 0 auto;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;

    }

    .image_1 img {
        width: 130px;
        height: 130px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .image_1 h1 {
        text-align: center;
        font-size: 18px;
        padding-top: 30px;
        color: #263238;
    }

    .image_1 p {
        text-align: center;
        font-size: 16px;
        color: #263238;
        padding-top: 15px;
        padding-bottom: 60px;
    }

    .card {
        width: 280px;
        display: grid;

        grid-gap: 30px;
    }

    .card_1 {
        margin-top: 60px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
        border-radius: 25px;
        width: 280px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .image_2 {
        width: 188px;
        height: 188px;
        text-align: center;
        padding-top: 30px;
        padding-left: 46px;

    }

    .image_2 img {
        width: 188px;
        padding: 0px;
    }

    .nike {
        width: 240px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .nike h1 {
        font-style: normal;
        font-size: 18px;
        line-height: 21px;
        color: #263238;
        padding-top: 60px;
    }

    .nike p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        padding-top: 15px;
        color: #263238;
    }

    .like {
        display: grid;
        grid-template-columns: 1fr;
        width: 280px;
        padding-top: 80px;
        text-align: center;

    }

    .vector {
        width: 280px;
        margin: 0 auto;
        display: grid;
        text-align: center;

    }

    .image_3 {
        width: 188px;
        height: 188px;
        margin-left: 20px;
    }

    .name_1 {
        width: 240px;
        margin: 0 auto;
        text-align: center
    }

    .name_1 h1 {
        padding: 0px;
        padding-top: 95px;
        font-size: 18px;
        color: #263238;
    }

    .name_1 p {
        padding-top: 20px;
        padding: 0px;
        font-size: 16px;
        color: #263238;
        font-weight: 300;
    }

    .tablet {
        width: 100%;
        padding-top: 100px;
        display: grid;
        grid-gap: 10px;
        margin-bottom: 150px;
    }

    .image_4 {
        width: 100%;
        margin: 0 auto;
    }

    .image_4 img {
        width: 100%;

    }

    .name_2 {
        width: 100%;
        text-align: center;
    }

    .name_2 h1 {
        text-align: center;
        font-size: 30px;

        padding-top: 90px;
    }

    .name_2 p {
        padding-top: 15px;
        text-align: center;
        font-size: 15px;
    }

    .name_2 button {
        width: 269px;
        margin: 0 auto;
        text-align: center;
        background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
        box-shadow: 0px 10px 10px rgba(0, 48, 92, 0.1);
        border-radius: 81px;
        padding: 30px 60px 30px 60px;
        margin-top: 20px;
        border: none;
        font-size: 18px;
        color: #FFFFFF;
    }
}